<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerLinks}}
    </head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/error.gif" alt="puja" class="img_fluid" title="puja agarwal" height="350px" width="400px">
                        </figure>
                         </div>
                    <div class="col-md-6 col-12 main_header_left">
                      
                    <p>Welcome to My Weather App</p>
                       <span class="text_clr">{{errorMsg}}</span>                       
                       <br>
                       <a href="/" ><button>Back to home</button></a>
                    </div>
                    <!--right side div-->
                       
                </div>
            </div>
        </div>
    </div>
    <!--Footer Code-->
    {{>footer}}  
</body>
</html>